.login{
    color: var(--king-crimison);
    display: flex;
    text-align: center;
    align-items: center;
    


}

.login-conteudo{
    position: relative; 
    z-index: 1;    
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 8px;
    border-radius: 16px;
    padding: 3em 0 8em 9em;
    margin: 10em 0 10em 22em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    line-height: 1.6;
    color: black;
}

.login-titulo{
    color: var(--king-crimison);
    font-size: 32px;
    margin: 0 9em 3em 0;


}



.login-opçoes{
    margin: 1em 10em 1em 0;
    font-size: 28px;



}

.login-item{
    margin-top: 1em;



}


.login-input{
    border-radius: 8px;
    font-size: 28px;


}

.login-botoes{
    display: flex;
    margin-top: 3em;






}

.login-botao{
    margin: 0 5em 0 0; 



}


.botao-login{
    text-decoration: none;
    background-color: red;
    border-color: red;
    border-style: solid;
    border-width: 8px;
    border-radius: 16px;
    color: white;
    padding: 0.2em 0.2em 0.2em 0.2em;
    

}

.login-texto{
    font-size: 18px;
    margin-left: 3.5em;
    color: var(--indisponivel);





}